<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.dao.AndroidMapper">
  
  	<!-- 查询是哪一家门店的信息 -->
  	<select id="getStoresName" resultType="java.lang.String" parameterType="com.alibaba.util.ParamInfo">
  		select stores_id from machine where machine_id = #{machine_id}
  	</select>
  
  	<!-- 查询安卓需要统计的数据 -->
  	<select id="getAdnroidStores" parameterType="com.alibaba.util.ParamInfo" resultType="com.alibaba.util.ParamInfo">
  		<![CDATA[
	  		SELECT
				count(case when mp.user_type = '0' then '' end ) as memberformer,
				count(case when mp.user_type = '1' then '' end ) as member,
				( 
					select count(1) from non_member nm where nm.stores_id = #{stores_id}
					and DATE_SUB(CURDATE(), INTERVAL 15 DAY) <= DATE(nm.user_in_time) 
				) as nonmember
			FROM
				admission a
			LEFT JOIN ( select * from management_pic mm group by mm.user_id) mp ON mp.user_id = a.user_id
			where a.stores_id = #{stores_id}
			and DATE_SUB(CURDATE(), INTERVAL 15 DAY) <= DATE(a.user_in_time) 
  		]]>
  	</select>
  	
  	<!-- 查询每一天要统计的数据 -->
    <select id="getdateTimeStores" parameterType="com.alibaba.util.ParamInfo" resultType="com.alibaba.pojo.MemberInfo">
   		SELECT
			count(case when mp.user_type = '0' then '' end ) as memberformer,
			count(case when mp.user_type = '1' then '' end ) as member,
			( 
				select count(1) from non_member nm where nm.stores_id = #{stores_id}
				and DATE(nm.user_in_time) = #{datetime}
			) as nonmember
		FROM
			admission a
		LEFT JOIN ( select * from management_pic mm group by mm.user_id) mp ON mp.user_id = a.user_id
		where a.stores_id = #{stores_id}
		and DATE(a.user_in_time) = #{datetime}
    </select>
    
    <!-- 查询门店总人数 -->
    <select id="getAdnroidCount" resultType="int" parameterType="com.alibaba.util.ParamInfo">
    	select count(1) from membership where stores_id = #{stores_id}
    </select>
    
    <!-- 查询门店名称 -->
    <select id="storesName" resultType="java.lang.String" parameterType="com.alibaba.util.ParamInfo">
    	select stores_name from stores where stores_id = #{stores_id}
    </select>
    
</mapper>