<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yun.mapper.CourseMapper">
	<!-- //新增课程表 void courseadd(Course course); -->
	<insert id="courseadd" parameterType="com.yun.pojo.Course">
		insert into `course`
		(
		`gym_addr`,
		`content`,

		`use_date`
		)
		values
		(
		#{gymAddr},
		#{content},

		#{useDate}
		)

	</insert>


	<!-- //删除课程表 void delCourseByGymArr(Course course); -->
	<delete id="delCourseByGymArr" parameterType="com.yun.pojo.Course">

		DELETE
		FROM
		`course`
		WHERE `gym_addr` = #{gymAddr}
	</delete>


	<!-- //根据门店找课程 void courfind(Course course); -->
	<select id="courfind" resultType="com.yun.pojo.Course">
		SELECT
		`id`,
		`gym_addr` gymAddr ,
		`content` content ,
		`create_time` createTime,
		`update_time` updateTime,
		`use_date` useDate
		FROM
		`course`
		where gym_addr=#{gymAddr}
	</select>
	
	
	
	
		<!--//给终端机找数据
	Course coursfindMachine(Course course);-->
	<select id="coursfindMachine" resultType="com.yun.pojo.Course">
		SELECT
		`id`,
		`content` content
		FROM
		`course`
		where gym_addr=#{gymAddr}
	</select>

	
</mapper>