<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yun.mapper.GuidePeopleMapper">
	
	<!-- 查询指引人 -->
	<select id="listGuidePeople" resultType="GuidePeople">
		select id,`code`,`name`,sex from guide_people where gym_addr = #{gymAddr}
		<if test="keyword != null and keyword != ''">
			and concat(code, name) like CONCAT('%',#{keyword},'%')  
		</if>
	</select>
	
	<!-- 提供终端机的指引人 -->
	<select id="listGuidePeopleTerminal" resultType="GuidePeople">
		select code, name from guide_people where gym_addr = #{gymAddr}
	</select>
	
	<!-- 删除指引人 -->
	<delete id="deleteGuidePeopleById">
		delete from guide_people where id = #{id} and gym_addr = #{gymAddr}
	</delete>
	
	<!-- 查询编号是否存在 -->
	<select id="getCodeisNull" resultType="string">
		select code from guide_people where gym_addr = #{gymAddr} and code = #{code}
	</select>
	
	<!-- 查询编号是否存在排除自己 -->
	<select id="getCodeisNull2" resultType="string">
		select code from guide_people where gym_addr = #{gymAddr} and code = #{code} and id != #{id}
	</select>
	
	<!-- 新增指引人 -->
	<insert id="saveGuidePeople">
		insert into guide_people (
			code,
			name,
			sex,
			gym_addr
		) values (
			#{code},
			#{name},
			#{sex},
			#{gymAddr}
		)
	</insert>
	
	<!-- 查询要修改的指引人信息 -->
	<select id="getGuidePeopleById" resultType="GuidePeople">
		select id,`code`,`name`,sex from guide_people where gym_addr = #{gymAddr}
		and id = #{id}
	</select>
	
	<!-- 修改指引人信息 -->
	<update id="updateGuidePeopleById">
		update guide_people
		<set>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
		</set>
		where id = #{id}
	</update>
	
</mapper>