<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yun.mapper.MachineManagementMapper">
	
	<!-- 查询终端机管理 -->
	<select id="listMachineManagement" resultType="com.yun.utils.ParameterUtil">
		SELECT
			mm.memory_cap as memoryCap,
			mm.version as version,
			mm.`status` as status,
			date_format(mm.production_time, '%Y-%m-%d %H:%i:%S') as productionTime,
			c.address as address,
			c.club_name as clubName
		FROM
			machine_management mm
		LEFT JOIN club c ON mm.id where c.gym_addr = #{gymAddr}
		order by mm.production_time desc
		limit ${pageNum}, ${pageSize}
	</select>
	
	<!-- 查询总数 -->
	<select id="getMachineManagementCount" resultType="int">
		SELECT
			count(1)
		FROM
			machine_management mm
		LEFT JOIN club c ON mm.id where c.gym_addr = #{value}
	</select>
	
	<!-- 新增终端机 -->
	<insert id="saveMachineManagement">
		insert into machine_management (
			machine_id,
			version,
			production_time,
			create_time
		) values (
			#{machineId},
			#{version},
			#{productionTime},
			now()
		)
	</insert>

</mapper>