<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	 http://www.springframework.org/schema/task
	  http://www.springframework.org/schema/task/spring-task-4.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


  <task:annotation-driven />
 <!-- <task:executor id="asyncExecutor" pool-size="100-10000" queue-capacity="10"/>
 -->

	<!-- 开启注解扫描 -->
	<context:component-scan base-package="com.alibaba.dao, com.alibaba.service, com.alibaba.common.jpush,com.alibaba"
		annotation-config="true" />
		
		
	

	<!-- 加载属性文件 -->
	<context:property-placeholder location="classpath*:db.properties" file-encoding="utf-8" />
	
	
	<bean id="AdminService" class="com.alibaba.service.AdminService" />
	

	
	<!-- 具体数据源 --> 
	<bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClassName" value="${jdbc.driver}" />
	</bean>

	<bean id="customJobFactory" class="com.alibaba.common.quartz.CustomJobFactory" />

	<!-- mybatis集成配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	    <!-- 指定mybatis全局配置文件的位置 -->
	<!-- 	<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property> -->
		<property name="dataSource" ref="datasource" />
		<property name="mapperLocations" value="classpath*:mappers/**/*.xml" />
	</bean>
	
	
	
	

	<!-- 接口开发 -->
	<bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:basePackage="com.alibaba.dao" />
	
	
	
	<!-- 错误控制 -->
	
	<!-- 基于xml配置式异常处理 ；可以不写id -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 指定异常映射信息，就是说，出现哪些异常去哪些页面 -->
		<property name="exceptionMappings">
			<props>
				<!--异常全类名 key：指定异常的全类名，值就视图名，经过视图解析器的流程 -->
				<prop key="java.lang.Exception">forward:/error/error.jsp</prop> 
					
			</props>
		</property>
	</bean>
	
	
</beans>