<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
   
<!-- 配置事务 s -->
	<!--Spring启动加载所有spring的配置文件都能自动找到  -->
	 <bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"></property>
	</bean>

	<aop:config>                    
		<aop:pointcut expression="execution(* com.alibaba.service.isservice.*.*(..))" id="txPoint"/>
		<aop:advisor advice-ref="myAdvice" pointcut-ref="txPoint"/>
	</aop:config>
	
	<tx:advice id="myAdvice" transaction-manager="tm">
		<tx:attributes>
			<tx:method name="*"/>		
		</tx:attributes>
	</tx:advice>	

	

</beans>
